* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
    text-decoration: none;
}

body {
    --dark-blue: hsl(223, 47%, 23%);
    --bright-blue: hsl(245, 75%, 52%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --very-pale-blue: hsl(225, 100%, 98%);
    background-color: hsl(225, 100%, 94%);
    font-family: 'Red Hat Display', sans-serif;
}
.center-text {
    text-align: center;
  }
main{
    background: url("../images/pattern-background-mobile.svg") #e0e8ff no-repeat;
    /* pattern-background-desktop.svg */
    background-position: center top;
    background-size: contain;
    padding: 32px 0;
    
}

@media screen and (min-width: 768px) {
    main {
      background-image: url('../images/pattern-background-desktop.svg');
    }
}

.card{
    background-color: #fff;
    border-radius: 22px;
    margin: 72px auto;
    max-width: 400px;
    overflow: hidden;
}
.card img{
    margin-bottom: 25px;
}
.card h2{
    padding-bottom: 10px;
    font-size: 24px;
}
.card p{
    font-size: 16px;
    padding: 10px 20px;
    text-align: center;
    color: var(--desaturated-blue);
}
.card .info{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    margin: 24px 0;
}
.card .info .left{
    display: flex;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
}
.card .info .right{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.card .info .right a{
    color: var(--bright-blue);
    text-decoration: underline;
    font-weight: bolder;
    cursor: pointer;
}
.card .info .right a:hover{
    /* color: black; */
    opacity: .5;
    transition: .3s all;
}
.card .Payment{
    background: var(--bright-blue);
    display: block;
    color: #fff;
    padding: 14px;
    margin: 25px;
    border-radius: 10px;
    cursor: pointer;
}
.card .Payment:hover{
    /* background: var( --desaturated-blue); */
    opacity: .5;
    transition: .3s all;
}

.card .Cancel{
    background: transparent;
    display: block;
    color: var( --desaturated-blue);
    margin:25px 0 55px 0;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}
.card .Cancel:hover{
    /* color: black; */
    opacity: .5;
    transition: .3s all;
}